$fuentePrincipal: 'Roboto',
sans-serif;
// colores 
$negro:#000;
$blanco:#fff;
$gris:#1D1D1D;
//fuentes
$delgada: 300;
$bold:700;
$black:900;
//viewport
$telefono:480px;
$tablet:768px;
$desktop:1200px;