#trailer {
    .contenedor-trailer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-around;
        article {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            @include telefono {
                width: 100%;
                iframe {
                    height: 80%;
                    width: 80%;
                }
            }
            @include desktop {
                width: 100%;
            }
            h4 {
                width: 70%;
                text-align: center;
                font-size: 2rem;
                color: $blanco;
            }
        }
    }
}